<h1><%= pluralize(@distributors.size, 'Distributor') %></h1>
<ul>
	<% @distributors.each do |distributor| %>
	<li>
		<%= link_to distributor.name, distributor %>
	</li>
	<% end %>
</ul>


<%= link_to "Add New Distributor", new_distributor_path, class: "btn btn-primary btn-sm"  %>