<div>
<% if object.errors.any? %>
  <div class="alert alert-danger">
    <div>  
      Oops! The <%= object.class.name.titleize.downcase %> could not be saved. 
    </div>
    <div>
      Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>