<div class="alert alert-info">
<% if object.errors.any? %>
    <h3 class="alert">
      Oops! The <%= object.class.name.titleize.downcase %> could not be saved. 
    </h3>
    <h4 class="alert">
      Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </h4>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>