<div class="jumbotron">
	<h1><b>Under the Plate</b>!</h2>
 		<p>Learn the true food source for all the food you eat.</p>
  		<div class="form-group">
          <input type="text" class="form-control" placeholder="What Is Under Your Plate? Find Out Now!">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
</div>