<div class="row">
  <div class="col-md-6">
    <!-- TWITTER -->
    <a href="https://twitter.com/organicvegan" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @organicvegan</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <div class="col-md-6">
    <!--  INSTAGRAM -->
    <style>.ig-b- { display: inline-block; }
    .ig-b- img { visibility: hidden; }
    .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
    .ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
     .ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }</style>
     <a href="http://instagram.com/healthyforreal?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a>
   </div>
 </div>

 <div class="row">
  <div class="col-md-12">
    <!--     FACEBOOK -->
    <div class="flex-item fb-follow" data-href="https://www.facebook.com/pages/Vegan/61964611697?ref=aymt_homepage_panel" data-colorscheme="light" data-layout="standard" data-show-faces="true">
    </div>
  </div>
</div>
