<% content_for(:title, @post.title) %>

<div class="container"> 
  <div class="row"> 
    <div class="col-md-12" id="establishment_header">
      <h1><%= @post.title %></h1>
      <p><%= @post.body %></p>
    </div>
  </div>

  <% if current_user_admin? %>
  <div class="row add-margin-bottom">
    <div class="col-md-12">
      <div class="button-margin"><%= link_to 'View All Posts', blog_index_path, class: "btn btn-primary btn-sm" %></div>
    </div>
    <% end %>
  </div>
