// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-show-inner {
  width: 49%;
  margin: 45px auto;
}

@media screen and (max-width: 990px) {
  .location-show-inner {
    margin: 0 auto;
  }
}