// Place all the styles related to the establishments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
	text-align: center;
	height: 200px;
}

.thumbnail.highlight {
	background-color: #fbcac5;
}

#establishment_header {
	margin-bottom: 5px;
}

.button-margin {
  margin-right: 10px;
  float: left;
}

.checkbox-style {
  .checkbox {
    display: inline;
    margin-right: 7px;
    margin-bottom: 5px;
  }
  label {
    margin-right: 25px;
  }
}

.add-border {
  border: solid lightgrey 1px;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
}

.location-detail-link {
  float: left;
  display: inline;
}

.add-margin-bottom {
  margin-bottom: 25px;
}
