// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  float: right;
  margin: 0 1.5%;
  width: 63%;
}
aside {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.parent {
  display: flex;
  height: 300px; /* Or whatever */
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  border: black solid 1px;
}

.thumbnail.thumbnail-sizing-main {
 text-align: center;
 height: 200px;
}


.thumbnail.thumbnail-sizing-aside {
 padding: 15px;
 width: 302px;
}
