// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	border: 2px black solid;
	border-radius: 7px;
	margin-bottom: 7px;
	padding-left: 7px;
}

.member {
  display: none;
  border: 2px black solid;
  border-radius: 7px;
  margin-bottom: 7px;
  padding-left: 7px;
}